body {
	color: #333333;
}

header {
	background: #428bca;
  	height: 40px;
  	color: #ffffff;
  	box-shadow: 0 1px 5px #666666;
}

header h1 {
	margin: 0;
  	font-size: 25px;
  	line-height: 40px;
  	color: #ffffff;
  	margin-left: 10px;
}

header a,
header a:hover,
header a:focus,
header a:active,
header a:visited {
	color: #ffffff;
}

header a:hover {
	text-decoration: underline;
}

.books, .content {
	margin-top: 40px;
}

.books .book .book-border {
	border-top: 1px solid #dddddd;
	padding: 20px;
}

.books .book:first-child .book-border {
	border-top: none;
}

.books .book .name {
	margin: 0;
	font-size: 20px;
	line-height: 22px;
}

.books .book img {
	max-width: 100px;
	max-height: 100px;
	float: right;
}

.books .book .date {
	font-size: 12px;
  	vertical-align: middle;
  	color: #666666;
}

.books .book .author {
	font-size: 12px;
	line-height: 14px;
}

.books .reviews {
	margin-top: 10px;
}

.reviews h3 {
	font-size: 18px;
}

.reviews .review {
	background-color: #eeeeee;
  	margin: 10px 0;
  	padding: 5px;
}

.reviews .author {
	color: #666666;
}

.content .book img {
	max-width: 250px;
	max-height: 250px;
}

.content .reviews {
	margin-top: 25px;
}