<!DOCTYPE html>
<html ng-app="bookStore">
	<head>
		<title>Angular Training - Directives</title>
		<!-- CSS -->
		<link rel="stylesheet" href="../../lib/foundation/css/foundation-5.5.0.min.css" />
		<link rel="stylesheet" href="../../css/bookstore.css"/>
		<!-- Javascript -->
		<script src="../../lib/jquery/jquery-2.1.4.min.js"></script>
		<script src="../../lib/angular/angular-1.3.15.min.js"></script>
		<script src="../../lib/foundation/js/foundation-5.5.0.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</head>
	<body ng-controller="StoreController as store">
		<header>
			<h1>{{ store.name }}</h1>
		</header>
		<div class="books">
			<div class="book" ng-repeat="book in store.books">
				<div class="row">
					<div class="columns small-10 small-centered book-border">
						<div class="row">
							<div class="columns small-12 medium-2">
								<img ng-src="../../img/{{ book.image }}"/>
							</div>
							<div class=" columns small-12 medium-10">
								<h2 class="name">{{ book.name }} <span class="date">{{ book.date }}</span></h2>
								<div class="author">by {{ book.author }}</div>
								<div class="description">{{ book.description }}</div>
								<div class="reviews">
									<h3>Reviews</h3>
									<div class="review" ng-repeat="review in book.reviews">
										<div class="author">{{ review.author }}</div>
										<div class="note">{{ review.note }}</div>
									</div>
									<div class="new-review">
										<div>Add new Review</div>
										<div class="row">
											<div class="columns small-12 medium-4">
												<input type="text" placeholder="Your name" ng-model="book.newReview.author"/>
											</div>
											<div class="columns small-12 medium-4">
												<input type="text" placeholder="Review" ng-model="book.newReview.note"/>
											</div>
											<div class="columns small-12 medium-4">
												<button class="tiny" ng-click="store.addReview(book)">Add Review</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>