<!DOCTYPE html>
<html ng-app="bookStore">
	<head>
		<title>Angular Training - Routing</title>
		<!-- CSS -->
		<link rel="stylesheet" href="../../lib/foundation/css/foundation-5.5.0.min.css" />
		<link rel="stylesheet" href="../../css/bookstore.css"/>
		<!-- Javascript -->
		<script src="../../lib/jquery/jquery-2.1.4.min.js"></script>
		<script src="../../lib/angular/angular-1.3.15.min.js"></script>
		<script src="../../lib/angular/angular-route.min.js"></script>
		<script src="../../lib/foundation/js/foundation-5.5.0.min.js"></script>
		<script type="text/javascript" src="js/books.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="page/HomeController.js"></script>
		<script type="text/javascript" src="page/BookController.js"></script>
	</head>
	<body ng-controller="StoreController as store">
		<header>
			<h1><a href="#/">{{ store.name }}</a></h1>
		</header>
		<div ng-view></div>
	</body>
</html>