<!DOCTYPE html>
<html ng-app="bookStore">
	<head>
		<title>Angular Training - Controllers</title>
		<!-- CSS -->
		<link rel="stylesheet" href="../../lib/foundation/css/foundation-5.5.0.min.css" />
		<!-- Javascript -->
		<script src="../../lib/jquery/jquery-2.1.4.min.js"></script>
		<script src="../../lib/angular/angular-1.3.15.min.js"></script>
		<script src="../../lib/foundation/js/foundation-5.5.0.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</head>
	<body ng-controller="StoreController as store">
		<h1>{{ store.name }}</h1>
		<h2>Books</h2>
		<div>{{ store.book.name }}</div>
		<div>{{ store.book.author}}</div>
		<div>{{ store.book.description }}</div>
	</body>
</html>