<div class="content">
	<div class="book">
		<div class="row">
			<div class="columns small-10 small-centered book-border">
				<div class="row">
					<div class="columns small-12 medium-4">
						<img ng-src="../../img/{{ ctrl.book.image }}"/>
					</div>
					<div class=" columns small-12 medium-7 medium-offset-1">
						<h2 class="name">{{ ctrl.book.name }} <span class="date">{{ book.date }}</span></h2>
						<div class="author">by {{ ctrl.book.author }}</div>
						<div class="description">{{ ctrl.book.description }}</div>
					</div>
				</div>
				<div class="row">
					<div class="columns small-12">
							<div class="reviews">
								<h3>Reviews</h3>
								<div class="review" ng-repeat="review in ctrl.book.reviews">
									<div class="author">{{ review.author }}</div>
									<div class="note">{{ review.note }}</div>
								</div>
							</div>
							<div class="new-review">
								<div>Add new Review</div>
								<div class="row">
									<div class="columns small-12 medium-4">
										<input type="text" placeholder="Your name" ng-model="ctrl.newReview.author"/>
									</div>
									<div class="columns small-12 medium-4">
										<input type="text" placeholder="Review" ng-model="ctrl.newReview.note"/>
									</div>
									<div class="columns small-12 medium-4">
										<button class="tiny" ng-click="ctrl.addReview()">Add Review</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>