<div class="books">
	<div class="book" ng-repeat="book in ctrl.books">
		<div class="row">
			<div class="columns small-10 small-centered book-border">
				<div class="row">
					<div class="columns small-12 medium-2">
						<img ng-src="../../img/{{ book.image }}"/>
					</div>
					<div class=" columns small-12 medium-10">
						<h2 class="name"><a href="#/book/{{ book.id }}">{{ book.name }}</a> <span class="date">{{ book.date }}</span></h2>
						<div class="author">by {{ book.author }}</div>
						<div class="description">{{ book.description }}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>